In [41]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import SimpleImputer
import scipy.stats as stats
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import cross_val_score

In [42]:
df=pd.read_csv('titanic.csv',usecols=['Survived','Age',"Fare"])

In [43]:
df.head()
df['Age']=df['Age'].fillna(df['Age'].mean())

In [44]:
x=df.drop(columns=['Survived'])
y=df['Survived']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [45]:
x_train

           Age      Fare
445   4.000000   81.8583
650  29.699118    7.8958
172   1.000000   11.1333
450  36.000000   27.7500
314  43.000000   26.2500
..         ...       ...
106  21.000000    7.6500
270  29.699118   31.0000
860  41.000000   14.1083
435  14.000000  120.0000
102  21.000000   77.2875

[623 rows x 2 columns]

In [46]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [47]:
x_train.isnull().sum()

Age     0
Fare    0
dtype: int64

In [48]:
classifier=DecisionTreeClassifier()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
print("Accuracy Score is:",accuracy_score(y_test,y_pred))

Accuracy Score is: 0.6716417910447762

In [49]:
np.mean(cross_val_score(DecisionTreeClassifier(),x,y,cv=10,scoring='accuracy'))

0.6532459425717853

In [50]:
from sklearn.preprocessing import KBinsDiscretizer
kbin_age=KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='kmeans')
kbin_fare=KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='kmeans')

In [51]:
trf=ColumnTransformer([
    ('first',kbin_age,[0]),
    ('second',kbin_fare,[1])
])

In [52]:
x_train_trf=trf.fit_transform(x_train)
x_test_trf=trf.transform(x_test)

c:\Users\naman\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_discretization.py:239: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(
c:\Users\naman\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_discretization.py:239: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(

In [55]:
trf.named_transformers_['first'].bin_edges_

array([array([ 0.42      ,  8.74311772, 17.93397436, 25.49638624, 32.7293283 ,
              40.24117863, 48.40138561, 56.21302083, 65.11666667, 73.58333333,
              80.        ])                                                   ],
      dtype=object)