In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv('covid_toy.csv')

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,LabelEncoder

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
from sklearn.compose import ColumnTransformer

In [8]:
transformer=ColumnTransformer([
    ('tnf1',
     OneHotEncoder(sparse=False,drop='first'),
    ['gender','city']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',SimpleImputer(),['fever'])
],remainder='passthrough')

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop('has_covid',axis=1),df['has_covid'],test_size=0.3,random_state=0)

In [12]:
x_train.head()

    age  gender  fever   cough       city
60   24  Female  102.0  Strong  Bangalore
80   14  Female   99.0    Mild     Mumbai
90   59  Female   99.0  Strong      Delhi
68   54  Female  104.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

In [13]:
y_train

60    Yes
80    Yes
90     No
68     No
51    Yes
     ...
96    Yes
67     No
64     No
47     No
44     No
Name: has_covid, Length: 70, dtype: object

In [17]:
transformer.fit_transform(x_train).shape

c:\Users\naman\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(70, 7)

In [15]:
transformer.transform(x_test).shape

(30, 7)

In [19]:
df['city'].nunique()

4